*{
	margin: 0;
	padding: 0;
}

.container-fluid
{
	
}

.topnav {
  margin: 0;
  overflow: hidden;
  background-color:#464a32;
  border:;
}


.topnav a {

  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.container-fluid
{
  /*border: 5px solid black;*/
  /*text-align: center;*/
  /*height: 800px;*/
  
}

.row
{
  /*border: 2px solid red;*/
  /*text-align: center;*/
}

.col
{
  /*border: 3px solid black ;*/
  /*text-align: center;*/
  margin: 10px;
}

.col-sm-3
{
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  

}

.tata
{
  font-size:20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}